:root {
  --gray: rgba(78,100,110);
  /* --pink: rgba(236,124,171); */
  --pink: lightcoral;
}
* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; height: 100%; width: 100%; }
body {
  display: flex;
  justify-content: center;
}
.btn {
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  background: white;
  border: 1px solid silver;
  color: crimson;
  height: 37px;
  line-height: 37px;
  vertical-align: top;
  font-size: 12px;
}
a, a:hover {
  text-decoration: none;
  color: black;
}
.header {
  width: 100%;
}

/* --------------------------- sidebar --------------------------- */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  padding-top: 5px;
  width: 25%;
}
.logo {
  width: 50px;
  height: 50px;
}
.sidebar i {
  margin-right: 10px;
  font-size: 27px;
}
.sidebar > ul {
  height: 100%;
  font-size: 24px;
}
.sidebar > ul > li {
  margin-bottom: 20px;
  margin-right: 20px;
}
.sidebar > ul > li:not(:first-child) {
  padding-left: 12px;
}
.sidebar > ul > li > a {
  border-radius: 25px;
  padding: 10px;
}
.sidebar > ul > li:not(:first-child) > a:hover {
  background-color: var(--gray);
  color: var(--pink);
  transition: all 0.2s ease-in-out;
}
ul, li {
  list-style: none;
}
/* -------------------------------------------------------------- */

input[type='text'], input[type='email'], input[type='password'], textarea {
  border-radius: 4px;
  height: 37px;
  padding: 10px;
  border: 1px solid silver;
}

/* --------------------------- container --------------------------- */
.container { 
  width: 50%; height: 100%; 
  border: 1px solid rgba(0,0,0,0.1);
  border-top: none;
  border-bottom: none;
  padding-top: 10px;
  margin: 0;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .container { width: 800px;}
}
.input-group { margin-bottom: 15px; }
.input-group label { width: 25%; display: inline-block; }
.input-group input { width: 70%; }
.half { float: left; width: 50%; margin: 10px 0; }
#join { float: right; }
.profile-wrap {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin: 10px 0;
}
@media screen and (min-width: 800px) {
  .profile-wrap { width: 290px; margin-bottom: 0; }
}
.profile {
  text-align: left;
  padding: 10px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid silver;
  background: lightcoral;
  /* background: var(--gray); */
  /* background: var(--pink); */
}
.user-name { font-weight: bold; font-size: 18px; }
.count { font-weight: bold; color: crimson; font-size: 18px; }
.scraps {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.timeline {
  margin-top: 10px;
  width: 100%;
  display: inline-block;
  border-radius: 4px;
  vertical-align: top;
}
@media screen and (min-width: 800px) { .timeline { width: 500px; } }
#twit-form {
  border-bottom: 1px solid silver;
  padding: 10px;
  background: lightcoral;
  overflow: hidden;
}
#img-preview { max-width: 100%; }
#img-label {
  float: left;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid crimson;
  padding: 0 10px;
  color: white;
  font-size: 12px;
  height: 37px;
  line-height: 37px;
}
#img { display: none; }
#twit { width: 100%; min-height: 72px; }
#twit-btn {
  float: right;
  color: white;
  background: crimson;
  border: none;
}
.twit {
  border: 1px solid silver;
  border-radius: 4px;
  padding: 10px;
  position: relative;
  margin-bottom: 10px;
}
.twit-author { 
  display: inline-block; 
  font-weight: bold; 
  margin-right: 10px; 
  margin-bottom: 15px;
}
.twit-follow {
  padding: 1px 5px;
  background: #fff;
  border: 1px solid silver;
  border-radius: 5px;
  color: crimson;
  font-size: 12px;
  cursor: pointer;
}
.twit-footer {
  display: flex;
}
.twit-footer > * {
  margin-right: 10px;
}
.twit-img { text-align: center; }
.twit-img img { max-width: 75%; }
.error-message { color: red; font-weight: bold; }
#search-form { text-align: right; }
#join-form { padding: 10px; text-align: center; }
#hashtag-form { text-align: right; }
footer { text-align: center; }
/* ---------------------------------------------------------------- */

/* --------------------------- aside --------------------------- */
.aside {
  width: 25%;
  height: 100%;
}
/* ------------------------------------------------------------- */
